@charset "utf-8";
@import url('css/general-sans.css');
/* CSS Document */
body {
	font-family: 'GeneralSans-Variable';
    background-color: #fff;
	}

.bg-dark {
    background: #011b54!important;
}
.fw-bold {
    font-weight: 500!important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.theme1-featured-logo {
    width: 100%;
    height: 110px;
    object-fit: contain;
    padding: 10px;
    border-color: #eee;
}

.nav-item {
    font-size: 15px;
    font-weight: 600;
}


.profile {
	width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: left;
    border-radius: 3px;
}

.navbar-brand>img {
    height: 40px;
    width: 215px;
    object-fit: contain;
    object-position: left;
    background-color: inherit;

}
/* .navbar-light .navbar-nav .nav-link {
    color: #6B7280!important;
} */

img.featured-logo {
    height: 55px;
    width: 55px;
    object-fit: contain;
}
  
	
.white-bg {
	background-color:#fff;
	/*padding:50px 0;*/
}

img.img-circle {width:150px; height:150px;}
ul.categories {    list-style-type: none;}
ul.categories li a{
    line-height: 45px;
    font-weight: 400;
    padding: 8px 15px;
    border-radius: 5px;
	}

.img-circle-custom {
    border-radius: 50%!important;
    background-color: #fff;
    padding: 5px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.footer-logo {
    width: 175px;
    height: 55px;
    object-fit: contain;
    object-position: left;
}

/* Carousel base class */
.carousel {
  margin-bottom: 5rem;
  z-index:-100000;
  margin-top: -16px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-caption  h5{
  font-size:32px;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 20rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  object-fit: cover;
}
.carousel-caption {
    right: 20%;
    /*left: 20%;*/
    top: 78px;
    /* position: relative; */
    padding-bottom: 30px;
	color:#283a50;
	text-align:left;
}
.carousel-indicators {
    bottom: 150px;
	display:none;
	z-index:11;
}

.no-border {border-color:#fff;}
.border-left {border-left:1px solid #ccc;}

.card-title-theme1 {
	color:#111827;
	font-size:28px;
}
/* .container-custom, .container-custom-lg, .container-custom-md, .container-custom-sm, .container-custom-xl {
    max-width: 980px;
} */
.remote-title {
    font-size: 32px;
    font-weight: 500;
}
.dark-bg-theme1 {
    background: #fff!important;
    border-top: 1px solid #E4E4ED;
}

.dark-bg-theme1 p strong {}
.dark-bg-theme1 div a, .copyright {}

.slider-bg-theme1 {
    margin: -12px 0 0 0;
    background: #021b53;
    padding: 90px 0 55px 0;
    background: url(https://ejobsitesoftware.com/jobboard_demo/themes/theme1/images/slider-bg.jpg);
}

.active-tab {
    color: #fff!important;
    border: 2px solid #1a73e8;
    border-radius: 5px;
    background:#1a73e8;
}
.active-tab:hover {
	color: #fff!important;
    border:2px solid #174ea6;
	border-radius:5px;
	background:#174ea6;
}

h5.job-title-theme1 a{
    font-size: 18px;
    font-weight: 600;
    color: #0061FF!important;
	}


.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #23468c;
    background: #23468c;
    border-radius: 50%;
    min-height: 40px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */



/* .btn {
	font-size: .875rem;
} */
/* .border-bottom {
    border-bottom: 1px solid #011b54!important;
} */

/* Bootstrap 5 */
body {
    /* background-color: #f6f7fa; */
    line-height: 1.6;
    margin: 0;
    padding-top: 78px;
    text-align: left;
    overflow-x: hidden;
    font-size: 1rem;
}


p {
    font-size: 18px;
    font-weight: 500;

}
ul {
    list-style-type: disc;
    margin-bottom:20px;
    margin-left:20px;
}
ul.num {
    list-style-type:decimal ;
    margin-bottom:20px;
    margin-left:20px;
}

.main-heading {
    margin-bottom:12px;
}
.resume-heading {
    margin-bottom:12px;
    font-size: 1.4rem;
}
a {
    text-decoration: none;
    color: #202124!important;
}
a:hover {
    text-decoration: underline;
    color: #0061ff!important;
}



label {
    font-size: 0.9rem;
    margin: 0;
    color:#000;
}
.form-group {
    margin-bottom: 15px;
}
/* .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    transition: all .2s ease-in-out;
} */
.btn-100 {
    width:100%;
}


.border-login {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
    border-image-slice: 1;
    display: table;
    margin: 0 auto 15px auto;
    width: 117px;
}
.rounded-12 {
    border-radius: 12px;
}
.nav-link {
    font-size: 16px;
    font-weight: 500!important;
}
.social-signup {
    text-align: right;
    margin: -25px 0 0 0;
    position: relative;
    font-size: 16px;
}
.label-text {
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.font-14 {
    font-size: 14px;
}
.col-form-label {
    text-align: right;
    font-size: 15px;
}
.input-group-text {
    line-height: 1.9;
    border-radius: 0;
}
.mini-profile-img-dashboard img {
    width: 119px;
    height: 119px;
    object-fit: contain;
    padding: 0;
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 10%);
    border-radius: 5px;
}
.jobseeker-rate {
    float: right;
    position: absolute;
    top: 20px;
    right: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 215px;
}
/* .card-widget {
    background: #fff;
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0.7em 1rem;
}
.card-jobseeker {
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}
.card-header-custom {
    border-width: 0px;
    background-color: #fff;
    border-color: #fff;
    /* padding-top: 20px; */
    padding-left: 10px;
    padding-right: 25px;
    /* border-radius: 12px!important; */
} */

/* Resume Steps */
/* Global CSS, you probably don't need that */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.nav {
	margin-top: 40px;
}

.pull-right {
	float: right;
}

.step a, a:active {
	color: #0d172c!important;
	text-decoration: none;
}

.step a:hover {
	color: #999!important;
}

/* Breadcrups CSS */
.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 3px;
    padding: 10px 10px 10px 30px;
    min-width: 70px;
    height: 36px;
    line-height: 16px;
    float: left;
    position: relative;
    background-color: #eeeeee;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #eeeeee;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff!important;
	background-color: #2ea44f ;
}
.arrow-steps .step.current a{
	color: #fff!important;
	background-color: #2ea44f ;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #2ea44f ;	
}

.arrow-steps .step.active_tab1 {
	color: #fff!important;
	background-color: #2ea44f ;
}
.arrow-steps .step.active_tab1 a{
	color: #fff!important;
	background-color: #2ea44f ;
}

.arrow-steps .step.active_tab1:after {
	border-left: 17px solid #2ea44f ;	
}


.resume-name {
    position: relative;
    float: right;
    margin-top: -40px;
}
a.dropdown-toggle img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: fill;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 2px;
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 10%);
}
.card-body-new {
    padding:0!important;
}

.mb-12 {
    margin-bottom: 12px;
}
.btn-font {
    font-size: 16px;
}

.logo-img img {
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    width: 75px;
    height: 75px;
    object-fit: contain;
}
.mini-profile-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.mini-profile-img img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 5px;
}
.job-result-img img{
    width: 55px;
    height: 55px;
    object-fit: contain;
    border-radius: 5px;
}
.list-hover:hover {
    background-color: #e6ecf4;
}

a.list-group-item-primary {
    color: #000!important;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgb(247 247 247) 0%, rgb(231 231 231) 100%);
    border: 1px solid #e9e9e9;
}
.list-group-item-action {
    width: auto;
}
.danger-bg {
    color: #842029;
    background: #f8d7da;
    border-color: #f5c2c7;
    border-radius: 5px;
    padding:10px 25px;
}
.required {
    border-left: 2px solid #fb6c23;
}
.form-check2 {
        padding-left: 0.5em;
        padding-right: 1em;
}

.forum-icon-bg {
    border-radius: 3px;
    font-size: 20px!important;
    color: #0c5460;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
}
.video-img {
    width:400px;

}
img.logo-dashboard {
    width: 130px!important;
    height: 130px!important;
    object-fit: fill;
}
.border-bottom-0 {
    border-bottom: 0px!important;
}
 .box_job_type {
    border-radius: 3px;
    width: 16px;
    height: 16px;
    float: left;
	margin: 4px 0 0 0;
}
.tag:first-child {
    margin-left: 0;
}
.tag {
    position: relative;
    margin: 2px 6px 2px 0;
    padding: 1px 0px 1px 8px;
    font-size: inherit;
    font-weight: 400;
    text-align: center;
    color: #fff!important;
    background-color: #425569;
    transition: background-color 0.3s ease;
    cursor: default;
    border-radius: 50px;
}
.tag__name {
    margin-right: 3px;
}

.tag_remove {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 100%;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 400;
    transition: opacity 0.3s ease;
    opacity: 0.5;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: #fff!important;
    line-height: 1;
    top: 6px;
}



.text-muted {
    overflow-wrap: anywhere;
    color: #686781!important;
}
.text-muted a {
    color: #686781!important;
}
.text-muted a:hover {
    color: #0858d0!important;
}

/* Featured Job Row */
.featured-job-tag {
    border: 1px solid #0061ff!important;
}
.featured-job-tag:hover {

}

/* .featured-job-tag:before {
    content: "Featured";
    position: absolute;
    left: 0;
    top: -9px;
    background: #ff0000;
    color: #fff;
    font-size: 10px;
    border-radius: 502px;
    padding: 0 5px;
    border: 2px solid #ff0000;
    font-weight: bold;
  } */


  @media only screen and (max-width: 900px) {
    .slider-bg-theme1 {
        padding: 25px 0 55px 0;
    }
}
  @media only screen and (max-width: 900px) {
    .navbar-brand {
        display:none;
    }
}
  @media only screen and (max-width: 900px) {
    .mtt {
        margin-top: 0!important;
    }
}
  @media only screen and (max-width: 900px) {
    .mtm-4 {
        margin-top: 0!important;
    }
}
  @media only screen and (max-width: 900px) {
    .g-5, .gy-5 {
        --bs-gutter-y: 1rem!important;
    }
}
  @media only screen and (max-width: 900px) {
    .me-3 {
        margin-right: 0rem!important;
    }
}
  @media only screen and (max-width: 900px) {
    ul.navbar-nav li {
        border-bottom: 0px solid #ddd;
        padding: 0 0px;
    }
}
  @media only screen and (max-width: 900px) {
    .upload-resume a {
        border-radius: 0px!important;
    }
}

/* New CSS */
.form-home {
    border: 1px solid #E4E4ED!important;
    border-radius: 50px;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    color: #727272;
    font-weight: 500;
}
.btn-home {
    font-size: 16px;
    padding: 0px 22px;
    height: 40px;
    font-weight: 500;
}
.cname {
    font-size: 14px;
    color: #171728;
    font-weight: 400;
}
.location {
    font-size: 14px;
    color: #b9b8bd;
    font-weight: 400;
}
.pdate {
    font-size: 12px;
    color: #b9b8bd;
    font-weight: 400;
}
.preview-title {
    font-weight: 500;
font-size: 20px;
}
.jdesc {
    font-size: 14px;
    color: #686781;
    font-weight: 400;
}
.box-text1 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
.box-text2 {
    font-size: 14px;
    color: #686781;
    font-weight: 400;
}
.more-link {
    color: #0061FF;
    font-size: 12px;
    border: 0px;
    padding: 0;
    background: transparent;
}
.article-title a {
    color: #171728;
    font-size: 16px;
}
.btn-article {
    font-size: 14px;
    padding: 6px 25px;
    font-weight: 500;
}
.btn-article2, .btn-article2:hover {
    font-size: 16px;
    padding: 10px 25px;
    font-weight: 500;
    background-color: #fff!important;
    color: #000!important;
}
.box1 {
    padding: 35px 35px;
}
.btn-article3 {
    font-size: 16px;
    padding: 10px 25px;
    font-weight: 500;
}
.box-title1 {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.box-title2 {
    color: #171728;
    font-size: 24px;
}
.job-title {
    color: #171728;
    font-size: 24px;
    font-weight: 600;
    margin: -9px 0 0 0;
}
.job-company {
    color: #171728;
    font-size: 15px;
    font-weight: 500;
}
.job-location {
    color: #8d8d97;
    font-size: 15px;
    font-weight: 300;
}

.job-date {
    color: #8d8d97;
    font-size: 13px;
    font-weight: 300;
}
.job-divider {
    background-color: #E4E4ED;
    height: 1px;
    margin: 10px 0;
}
.btn-apply-jobs, .btn-apply-jobs:hover {
justify-content: center;
align-items: center;
padding: 11px 30px;
gap: 10px;
width: 330px;
height: 44px;
left: 1034px;
top: 1023px;
background: #E7F3FD;
border-radius: 30px;
font-weight: 700;
font-size: 14px;
line-height: 22px;
color: #13AAFF!important;
}
.footer-title {
    font-size: 18px;
    font-weight: 500;
}
.footer-link a{
    font-size: 16px;
    font-weight: 400;
    color: #686781!important;
}
.footer-link a:hover{
    color: #0061ff!important;
}
.copyright {
    font-size: 16px;
    color: #ccc;
    margin-top: 12px;
    font-weight: 400;
}
.copyright a{
    color: #ccc!important;
    font-weight: 400;
    font-size: 16px;
}

.punchline {
    color: #686781;
    font-size: 18px;
    font-weight: 500;
    margin: 6px 0 0 0;
}
.upload-resume a{
    background: #E7F3FD;
    border-radius: 30px;
    color: #13AAFF!important;
    font-weight: 500;
    font-size: 16px;
}
.lines {
    background-color: #E4E4ED;
}

@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('../css/fonts/GeneralSans-Variable.woff2') format('woff2'),
         url('../css/fonts/GeneralSans-Variable.woff') format('woff'),
         url('../css/fonts/GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  