{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-heading">{HEADING_TITLE}</h1>
        </div>
    </div>
    <div class="row g-12">
        <div class="col-md-12">
            <!--do not remove or edit blow comment-->
            <!--START_FILE_EDIT_CONTENT-->
            <p></p>
                <!--END_FILE_EDIT_CONTENT-->
                <!--do not remove above comment line-->
        </div>
    </div>
</div>


{FOOTER_HTML}