{HEADER_HTML}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{INFO_TEXT_JSCRIPT_FILE}"></script>
{HEADER_MIDDLE_HTML}
<SCRIPT LANGUAGE="JavaScript">
	function popUp(URL) 
	{
		day = new Date();
		id = day.getTime();
		eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=600,height=400,left = 0,top = 0');");
	}
</script>
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" 

);
        // $messageStackSuccess
       });
   }, 50000););
</script>

<div class="container">
	<div class="row">
        <div class="col-md-7 mx-auto d-flex align-items-center">
            <h1 class="mb-0">{INFO_TEXT_CREATE_ACCOUNT}</h1>
			<div class="d-flex ms-auto">{INFO_TEXT_SOCIAL_BUTTON}</div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-7 mx-auto">
        <div class="mb-3">{ALREADY_MEMBER}</div>
	</div>
    </div>

	<div class="row">
		<!-- <div class="col-md-9"> -->
		<div class="col-md-7 mx-auto">
		{update_message}
			<div class="card card-custom">
	
				
				<div class="card-body card-body-custom">
					
					
					{COUNTRY_STATE_SCRIPT}
					{registration_form}
					
					
					<p class="label-text">{SECTION_ACCOUNT_DETAILS}</p>
					
					{INFO_TEXT_EMAIL_ADDRESS1}
					{password_data}
					
					<p class="label-text m-m-t-10">{SECTION_CONTACT_DETAILS}</p>
					<div class="row">
						<div class="col-md-6">{INFO_TEXT_FIRST_NAME1}</div>
						<div class="col-md-6">{INFO_TEXT_LAST_NAME1}</div>
					</div>
					
					{INFO_TEXT_FULL_ADDRESS1}
					
					<div class="row">
						<div class="col-md-6">{INFO_TEXT_CITY1}</div>
						<div class="col-md-6">{INFO_TEXT_ZIP1}</div>
						<div class="col-md-6">{INFO_TEXT_COUNTRY1}</div>
						<div class="col-md-6">{INFO_TEXT_STATE1}</div>
						<div class="col-md-6">{INFO_TEXT_HOME_PHONE1}</div>
						<div class="col-md-6">{INFO_TEXT_MOBILE1}</div>
					</div>
					<div class="pt-2">{resume_data}</div>
					<p class="label-text">{SECTION_ACCOUNT_PRIVACY}</p>
					{INFO_TEXT_PRIVACY1}
					
					<p class="label-text mt-3">resume searchable?</p>
					<span class="d-flex">{INFO_TEXT_RESUME_SEARCHEABLE1}</span>
					
					<!--<p class="label-text mt-3">{INFO_TEXT_NEWS_LETTER}</p>-->
					<div class="my-3 d-flex">{INFO_TEXT_NEWS_LETTER1}</div>
					<div>{google_captcha}</div>
					<small id="emailHelp" class="text-muted font-14">{INFO_TEXT_AGREEMENT}</small>
				</div>
				<div class="card-footer bg-white card-footer-custom">
					<div class="text-center">{add_save_button}</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
{FOOTER_HTML}
