{ADMIN_HEADER_HTML}
<div class="be-wrapper be-login">
    <div class="">
        <div class="main-content container-fluid">
            <div class="splash-container">
                {update_message}
                <div class="card card-border-color card-border-color-primary">
                    <div class="card-header">
                        {LOGO}
                    </div>
                    <div class="card-body">
                        <h4 class="font-weight-bold">{HEADING_TITLE}</h4>
                        {form}
                            <div class="form-group">
                                {TEXT_INFO_USER_NAME1}
                            </div>
                            <div class="form-group">
                                {TEXT_INFO_PASSWORD1}
                            </div>
                            <div class="form-group">
                                    {forgot_password}
                            </div>
                            <div class="form-group login-submit">
                                {new_button}
                            </div>
                            
                        </form>
                        <div style="text-align:center;margin:30px 0 0 0;font-size:12px;">Powered by 
                            <a href="https://ejobsitesoftware.com">Job Board Software</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{ADMIN_FOOTER_HTML}